html, body{
    @apply bg-white text-black font-font1
}
.wrapper{
    max-width:1330px;
    width:100%;
    margin-inline: auto;
}

.danhmuc{
    text-transform: uppercase;
    font-weight: bold;
    color: green !important;
    padding-left: 8px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    text-align: center;
    line-height: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.form-control {
    width: 123px;
    height: auto;
    font-size: 14px;
    background-color: #fff;
    background-image: none;
    font-weight: bold;
    color: green !important;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box; /* Hiển thị dạng block */
    -webkit-line-clamp: 2; /* Số dòng tối đa được hiển thị */
    -webkit-box-orient: vertical; /* Chiều hiển thị của box */
}




/* custom css */

/* end custom css */